<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>amittai::platform-api</title>
  <link rel="icon" type="image/png" href="https://amitt.ai/favicon.png">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="content-container">
    <h1>Platform API</h1>
    <p>
      This is an API that supports a frontend app
      hosted <a href="https://platform.amitt.ai">here</a>.
    You can hit the API at:</p>
    <!-- table of routes -->
    <div class="table-container">
      <figure>
        <table class="table">
          <tr class="table-header">
            <th>route</td>
            <th>response</td>
          </tr>
          <tr class="table-row">
            <td><a href="/api"><code>/api</code></a></td>
            <td>Learn about the API (this page)</td>
          </tr>
          <!-- <tr class="table-row">
            <td><a href="/api/home">/api/home</a></td>
            <td>This is a fourth table cell</td>
          </tr> -->
          <tr class="table-row">
            <td><a href="/api/posts"><code>/api/posts</code></a></td>
            <td>Get all posts</td>
          </tr>
          <tr class="table-row">
            <td><a href="/api/posts/:postID"><code>/api/posts/:postID</code></a></td>
            <td>Get post with <code>postID</code></td>
          </tr>
        </table> 
        <figcaption class="caption">Table of routes</figcaption>
      </figure>
    </div>
    <p>
      If interested in something else, please
      <a href="https://amitt.ai">go back home</a>.
    </p>
  </div>
</body>
</html> 
